<!DOCTYPE html>
<html>
  <head>
    <title>想说APP</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
      body{
         color: #fff;
      }
    	#sf{
    		background-color:red;
    		height:480px;
            width:640px;
    	}
      .header{
        background-color:#EE6B5A;
        padding-top: 20px;
        padding-bottom: 80px;
      }
      .header p.top{
        margin-bottom: 60px;
        
      }
      .content{
        background: #ffffff;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .content img{
        height: 300px;
        width:320px;
      }
      .footer{
        background-color: #4682b4;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      .footer a{
        color:#fff;
      }
    </style>
  </head>
  <body>
  <div class="header">
     <div class="container">
        <div class="row">
            <div class="col-md-12 ">
              <p class="top">
                <a  href="http://www.qcloud.com ">
                    <img src="/images/light_logo.png"  alt="">
                  </a>
              </p>
                
                <h1 class="text-center" >想说APP</h1>
                <h2 class="text-center" >说烦恼，诉衷肠，觅知音</h2>
                <a class="text-center" href="/download"><p style="color:#fff">点击下载app</p></a>
            </div>
        </div>
     </div>
  </div>

    
     
  <div class="content">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
               <div class="thumbnail text-center">
                <img src="/images/GUI-1.png" alt="...">
                <div class="caption">
                  <h3>说烦恼</h3>
                  <p>
                      双重身份说烦恼<br/>畅所欲言无顾忌
                  </p>

                  
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
               <div class="thumbnail text-center">
                <img src="/images/GUI-2.png" alt="...">
                <div class="caption">
                  <h3>诉衷肠</h3>
                  <p>
                      爱在心头口难开<br/>就来想说诉衷肠
                  </p>

                  
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
               <div class="thumbnail text-center">
                <img src="/images/GUI-3.png" alt="...">
                <div class="caption">
                  <h3>觅知音</h3>
                  <p>
                      高山流水觅知音<br/>知你懂你在想说
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div  class="footer">
     <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">苏州想说信息有限公司</h2>
                <h3 class="text-center">备案号：<a href="http://www.jsca.gov.cn">苏ICP备15045367号</a></h3>
            </div>
        </div>
      </div>
  </div>   
    
   
   
   
  </body>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
